
# JSON Mini-Project

#### Using data in file 'data/world_bank_projects.json',

1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1]:
import pandas as pd

In [2]:
import json
from pandas.io.json import json_normalize

#Load JSON data into Python as pandas dataframe.

In [3]:
json_data = pd.read_json('world_bank_projects.json')

#Check datatype of the imported JSON file

In [4]:
type(json_data)

pandas.core.frame.DataFrame

#View first few rows of dataframe.

In [5]:
json_data.head(3)

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}

#Look at shape of dataset

In [6]:
json_data.shape

(500, 50)

#View column names.

In [7]:
json_data.columns

Index(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline',
       'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode',
       'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty',
       'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt',
       'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4',
       'prodlinetext', 'productlinetype', 'regionname', 'status',
       'country_namecode', 'envassesmentcategorycode', 'project_abstract',
       'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype',
       'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3',
       'majorsector_percent', 'board_approval_month', 'theme_namecode',
       'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt',
       'sector_namecode', '_id'],
      dtype='object')

#Find the number of projects in each country.

In [8]:
countries = json_data.groupby('countryshortname').size()
countries

countryshortname
Afghanistan             6
Africa                 11
Albania                 4
Angola                  1
Antigua and Barbuda     1
                       ..
West Bank and Gaza      6
World                   2
Yemen, Republic of     13
Zambia                  4
Zimbabwe                1
Length: 118, dtype: int64

****
#### Question 1: List the ten countries with the most projects.

In [9]:
countries.sort_values(ascending=False).head(10)

countryshortname
Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
dtype: int64

#### Question 2 - Find the top 10 major project themes (using column 'mjtheme_namecode')

#Loading JSON file as a string, then using normalization to create a table from nested element (mjtheme_namecode).

In [10]:
json_str = json.load((open('world_bank_projects.json')))
project_themes = json_normalize(json_str,'mjtheme_namecode')
type(project_themes)

pandas.core.frame.DataFrame

#Viewing the data

In [11]:
project_themes.head(10)

  code                                          name
0    8                             Human development
1   11
2    1                           Economic management
3    6         Social protection and risk management
4    5                         Trade and integration
5    2                      Public sector governance
6   11  Environment and natural resources management
7    6         Social protection and risk management
8    7                   Social dev/gender/inclusion
9    7                   Social dev/gender/inclusion

#Group the data in project_themes series by name, then sort to get top major project themes.

In [12]:
project_names = project_themes.groupby(['name','code'], axis=0).size()
project_names

name                                          code
                                              1         5
                                              10       14
                                              11       27
                                              2        15
                                              3         3
                                              4        16
                                              5         5
                                              6        10
                                              7        11
                                              8        13
                                              9         3
Economic management                           1        33
Environment and natural resources management  11      223
Financial and private sector development      4       130
Human development                             8       197
Public sector governance                      2       184
Rule of law                                   3        12
Rural development                             10      202
Social dev/gender/inclusion                   7       119
Social protection and risk management         6       158
Trade and integration                         5        72
Urban development                             9        47
dtype: int64

In [13]:
top_10_themes = project_names.sort_values(ascending=False).head(10)
top_10_themes

name                                          code
Environment and natural resources management  11      223
Rural development                             10      202
Human development                             8       197
Public sector governance                      2       184
Social protection and risk management         6       158
Financial and private sector development      4       130
Social dev/gender/inclusion                   7       119
Trade and integration                         5        72
Urban development                             9        47
Economic management                           1        33
dtype: int64

In [14]:
project_names

name                                          code
                                              1         5
                                              10       14
                                              11       27
                                              2        15
                                              3         3
                                              4        16
                                              5         5
                                              6        10
                                              7        11
                                              8        13
                                              9         3
Economic management                           1        33
Environment and natural resources management  11      223
Financial and private sector development      4       130
Human development                             8       197
Public sector governance                      2       184
Rule of law                                   3        12
Rural development                             10      202
Social dev/gender/inclusion                   7       119
Social protection and risk management         6       158
Trade and integration                         5        72
Urban development                             9        47
dtype: int64

#### Question 3: In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [15]:
d = {'1':'Economic management', '2':'Public sector governance', '3':'Rule of law', '4':'Financial and private sector development', '5':'Trade and integration', 
     '6':'Social protection and risk management', '7':'Social dev/gender/inclusion', '8':'Human development', '9':'Urban development', '10':'Rural development',
     '11':'Environment and natural resources management'}
#project_themes['code'] is a string object, so needed to be put in ''.

In [16]:
#Another way to create a dictionary for this example:
#d = {}
#for code in project_themes['code'].unique():
#    temp_df = project_themes[project_themes['code'] == code]
#    for name in temp_df['name'].unique():
#        if name != '':
#            d[code] = name

#For key:value pairs in each item of the dictionary(d), let the element in project_themes dataframe 'code' column be the key and the 'name' column be the value. This will fill in all missing project 'name' values based on the 'code'.

In [17]:
for key, value in d.items():
    project_themes.loc[project_themes.code == key,'name'] = value

#Group the data in project_names_no_missing series by name, then sort to get top major project themes.

In [18]:
project_names_no_missing = project_themes.groupby(['name','code'], axis=0).size()

In [19]:
top_10_themes = project_names_no_missing.sort_values(ascending=False).head(10)
top_10_themes

name                                          code
Environment and natural resources management  11      250
Rural development                             10      216
Human development                             8       210
Public sector governance                      2       199
Social protection and risk management         6       168
Financial and private sector development      4       146
Social dev/gender/inclusion                   7       130
Trade and integration                         5        77
Urban development                             9        50
Economic management                           1        38
dtype: int64